<ul>
    {% for request in requests %}
      <li> 
          {{ request.getState }} 
          {{ request.getStartDate|date('Y-m-d') }}  
          {{ request.getEndDate|date('Y-m-d') }}  
      </li>
    {% endfor %}
  </ul>