#searchRequest{
    margin: 20px 0;
    background: #efefef;
    border: 1px #aaa solid;
    padding: 10px;
    width: auto;
    height: auto;
    overflow: hidden;
}
h1,h2,h3,h4{
    margin:0;
    padding: 0;
}
.grayWrapp{
    width: auto;
    height: auto;
    overflow: hidden;
    background: #efefef;
    border: 1px solid #aaa;
    margin-top: 20px;
}

/*------------------------------------------*/
/*------------------------------------------*/

.form-signin {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 50px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.flolat-to-right{
    float: right;
}
.flolat-to-left{
    float: left;
}
.container{
    overflow: hidden;
}
.header-wrapper{
    background: #0088cc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.white-box{
    padding: 10px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.marginLeft20{
    margin-left: 20px;
}
.marginTop-10{
    margin-top: -10px;
}
.marginTop20{
    margin-top: 20px;
}
.find-box{
    padding: 10px 0 0;
    margin: 0 0 20px;
}
h2.underline{
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 1px #aaa solid;
}